<h1>Edit Room</h1>

<%= form_with model: @room, local: true do |form| %>
  <div>
    <%=  form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :floor_plan, value: "{\"arrays\": #{@matrix}", id: "matrix_data_field" %>

  <div>
    <%= form.submit "Save Changes" %>
  </div>
<% end %>

<a href="<%= room_path(@room) %>">Cancel</a>

<br>
<br>

<div class="matrix-container" style="border: 2px solid #333; padding: 10px; display: inline-block;">
  <div class="matrix-grid" style="display: grid; grid-template-columns: repeat(<%= @matrix[0].size %>, 50px); gap: 5px;">
    <% @matrix.each_with_index do |row, row_index| %>
      <% row.each_with_index do |cell, col_index| %>
        <div class="square" data-row="<%= row_index %>" data-col="<%= col_index %>" style="width: 50px; height: 50px; background-color: <%= cell == 1 ? '#ffffff' : '#000000' %>;" onclick="toggleSquare(this)"></div>
      <% end %>
    <% end %>
  </div>
</div>



<script>
  var matrix = <%= @matrix.to_json %>

  document.addEventListener("DOMContentLoaded", function() {
    console.log(document.getElementById("matrix_data_field").value)

    document.getElementById("matrix_data_field").value = JSON.stringify({ arrays: matrix });

    console.log(document.getElementById("matrix_data_field").value)

  });

  console.log(document.getElementById("matrix_data_field").value)

  function toggleSquare(square) {
    const row = square.getAttribute('data-row');
    const column = square.getAttribute('data-col');
    matrix[row][column] = matrix[row][column] == 0 ? 1 : 0;

    const currentColor = square.style.backgroundColor;
    square.style.backgroundColor = (currentColor === 'rgb(0, 0, 0)') ? '#ffffff' : '#000000';

    document.getElementById("matrix_data_field").value = JSON.stringify({ arrays: matrix });
  }
</script>

<style>
  .matrix-grid {
    margin: 20px auto;
  }
  .square {
    border: 1px solid #ccc;
    cursor: pointer;
  }
</style>
