<h1><%= @room.name %></h1>
<a href="<%= edit_room_path(@room) %>">Edit Room</a>

<%= simple_format(@room.description) %>

<p><%= "Doorways/Passages" %></p>

<ul>
  <% @passage_ways.each do |passage_way| %>
    <li>

      <% adjacent_room = passage_way.to_node_from(@room)%>

      <p> <%= link_to adjacent_room.name, room_path(adjacent_room.id) %> </p>
      <p> <% passage_way.description %></p>
    </li>
  <% end %>
</ul>


<a href="<%= rooms_path %>">Back to Room List</a>

<br>
<br>


<div class="matrix-container" style="border: 2px solid #333; padding: 10px; display: inline-block;">
  <div class="matrix-grid" style="display: grid; grid-template-columns: repeat(<%= @matrix[0].size %>, 50px); gap: 5px;">
    <% @matrix.each do |row| %>
      <% row.each do |cell| %>
        <div class="square" style="width: 50px; height: 50px; background-color: <%= cell == 1 ? '#ffffff' : '#000000' %>;"></div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .matrix-grid {
    margin: 20px auto;
  }
  .square {
    border: 1px solid #ccc;
  }
</style>
