<h1><%= @room.name %></h1>
<a href="<%= edit_room_path(@room) %>">Edit Room</a>

<%= simple_format(@room.description) %>

<p><%= "Doorways/Passages" %></p>

<ul>
  <% @adjacent_rooms.each do |adjacent_room| %>
    <li>
      <p> <%= link_to adjacent_room.name, room_path(adjacent_room) %> </p>
    </li>
  <% end %>
</ul>


<a href="<%= rooms_path %>">Back to Room List</a>

<br>
<br>


<div class="matrix-container" style="border: 2px solid #333; padding: 10px; display: inline-block;">
  <div class="matrix-grid" style="display: grid; grid-template-columns: repeat(<%= @matrix[0].size %>, 50px); gap: 5px;">
    <% @matrix.each_with_index do |row, row_index| %>
      <% row.each_with_index do |cell, col_index| %>
        <div class="square" data-row="<%= row_index %>" data-col="<%= col_index %>" style="width: 50px; height: 50px; background-color: <%= cell == 1 ? '#ffffff' : '#000000' %>;" onclick="toggleSquare(this)"></div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  var matrix = <%= @matrix.to_json %>

  function toggleSquare(square) {
    const row = square.getAttribute('data-row');
    const column = square.getAttribute('data-col');
    matrix[row][column] = matrix[row][column] == 0 ? 1 : 0

    const currentColor = square.style.backgroundColor;
    square.style.backgroundColor = (currentColor === 'rgb(0, 0, 0)') ? '#ffffff' : '#000000';

  }
</script>

<style>
  .matrix-grid {
    margin: 20px auto;
  }
  .square {
    border: 1px solid #ccc;
    cursor: pointer;
  }
</style>
