<h1><%= @room.name %></h1>
<a href="<%= edit_room_path(@room) %>">Edit Room</a>

<%= simple_format(@room.description) %>

<p><%= "Doorways/Passages" %></p>

<ul>
  <% @adjacent_rooms.each do |adjacent_room| %>
    <li>
      <p> <%= link_to adjacent_room.name, room_path(adjacent_room) %> </p>
    </li>
  <% end %>
</ul>


<a href="<%= rooms_path %>">Back to Room List</a>
